@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #4682A9;
    height: 100vh;
}
.intro span {
    color: #F6F4EB;
}

.intro h1:first-of-type {
    font-size: 2.3rem;
    animation: line-load 4s;
}
@keyframes line-load {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.intro h1:last-of-type {
    font-size: 1.8rem;
    animation: line-load 4s;
}

.intro button {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    border-radius: 10px;
    border-width: 5px;
    font-size: 1rem;
    border-color: #1D5D9B;
    background: linear-gradient(to right, #1D5D9B 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.show {
    animation: line-load 4s;
}
.show:hover {
    background-position: left bottom;
    color: #F6F4EB;
}
.intro img {
    margin-left: 5px;
    max-width: 30px;
}
.about {
    background-color: #333;
    color: white;
    height: 100vh;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 0.2fr 0.3fr 0.5fr;

}
.console {
    grid-row: 3;
    grid-column: 3;
    max-width: 150px;
    justify-self: center;
}
.home {
    grid-row: 3;
    grid-column: 1;
    max-width: 150px;
    justify-self: center;
}
.about h2 {
    background: #333;
    font-size: 1.8rem;
    grid-row: 1;
    grid-column: 1/4;
    margin-top: 15px;
    align-self: center;
    justify-self: center;
}
.about p {
    grid-row: 3;
    grid-column: 2;
    font-size: 1.1rem;
    max-width: 700px;
    align-self: center;
    justify-self: center;

}
.man {
    margin: 40px;
    grid-row: 2;
    grid-column: 1/4;
    justify-self: center;
    max-width: 250px;
    align-self: center;
}
.technologies {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    width: 500px;
    gap: 40px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.2fr;
    justify-self: center;
    align-items: center;
    justify-content: center;
}
.technologies img{
    width: 80px;
    justify-self: center;
}
.technologies img:first-of-type{
    grid-column: 1;
    grid-row: 1;
}
.technologies img:last-of-type {
    grid-column: 3;
    grid-row: 2;
}
.technologies img:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.technologies img:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.technologies img:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
}
.technologies img:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}
.line {
    border-right: 0;
    border-left: 0;
    width: 80%;
    grid-row: 1;
    grid-column: 1/4;
    margin-top: 15px;
    justify-self: center;
    align-self: center;
    border: 1px solid #4682A9;
}
.contact {
    height: 100vh;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    color: #F6F4EB;
}
.contact h2 {
    font-size: 2rem;
    grid-column: 2;
    margin-top: 15px;
    background-color: #333;
    justify-self: center;
    grid-row: 1;
    align-self: center;
}
.contact-form {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    height: 30px;
}
textarea:focus ,input:focus {
    outline: none;
    border: 3px solid #555;
  }
input, textarea{
    border-radius: 10px;
    border-width: 0;
    padding: 5px;
}
textarea {
    resize: none;
}
.contact button {
    font-size: 1rem;
    border-radius: 8px;
    border-width: 0;
    padding: 5px;
}
.contact button:hover {
    background-color: #4682A9;
    color: #F6F4EB;
}
footer {
    background-color: #4682A9;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
footer p {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    font-weight: 900;
}
footer a {
    grid-column: 2;
    justify-self: center;
    align-self: last baseline;
}
.github {
    max-width: 40px;
}
footer a :hover {
    background-color: #F6F4EB;
    border-radius: 6px;
}
@media (max-width: 600px){
    .about {
        height: 90vh;
        gap: 40px;
    }
    .home {
        display: none;
    }
    .console {
        display: none;
    }
    .contact {
        height: 80vh;
    }
    footer {
        height: 15vh;
    }
    .github {
        max-width: 30px;
        margin-bottom: 10px;
    }
    input, textarea {

        font-size: 1.3rem;
        padding: 5px;
    }
    .technologies {
        grid-template-columns: 0.2fr 0.2fr 0.2fr;
    }
    .technologies img {
        width: 70px;
    }
}
@media (max-width: 500px){
    .about {
        height: 100vh;
    }

    .contact {
        width: 100vw;
    }
    .contact h2 {
        font-size: 1.5rem;
    }
    .contact-form {
        max-width: 300px;
    }
    .man {
        max-width: 50%;
        margin: 10px;
    }
    .about p {
        font-size: 0.9rem;
        width: 300px;
    }
    .technologies {
        width: 250px;
    }
    .technologies img {
        max-width: 50px;
    }
    footer {
        grid-template-columns: 25% 50% 25%;
    }
}
