@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #4682A9;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.intro span {
    color: #F6F4EB;
}

.intro h1:first-of-type {
    font-size: 2.3rem;
    animation: line-load 4s;
}
@keyframes line-load {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.intro h1:last-of-type {
    font-size: 1.8rem;
    animation: line-load 4s;
}

.intro button {
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
    font-size: 1rem;
    border-color: #1D5D9B;
    background: linear-gradient(to right, #1D5D9B 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;

    transition: all .5s ease-out;
}
.intro button:hover {

    background-position: left bottom;
    color: #F6F4EB;

}
.intro img {
    margin-left: 5px;
    max-width: 30px;
}